[submodule "src/liblsquic/ls-qpack"]
	path = src/liblsquic/ls-qpack
	url = https://hub.fastgit.xyz/litespeedtech/ls-hpack
        branch = v0.9.13
[submodule "src/lshpack"]
	path = src/lshpack
	url = https://hub.fastgit.xyz/litespeedtech/ls-hpack
